@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
        width: 100%;

    }

   .nav-items-container a .follow-us-btn {
        width: 100%;

    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 20px;
        width: 100%;
    }
    .banner-text{
        margin: 10px auto;
        
    }
    .banner-text .btn-banner a {
        text-decoration: none;
        font-size: 16px;
        padding: 5px 30px;
        color: white;
    
    }

    .banner-text .play-like {
        color: #0B0223;
        font-size: 2rem;
        }

    .banner-text .goat {
        font-size: 2.9rem;
        
    }
    .banner-text .link {
        padding-left: 10px;
        
}
}