* {
    box-sizing: border-box;
}

nav {
    background-color: #FFFFFF;
}

.nav-container {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container  {
    width: 50%;
    border: 1px solid green;
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 90px;
    height: 40px;
    margin-right: 20px;
}
.logo-container p{
    font-size: 2.5rem;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: end ;
    gap: 32px;
    align-items: center;
    margin-right: 30px;
  
}

.nav-items-container a {
    text-decoration: none;
    font-size: 1rem;
    color: #3C354F;

}

.icon-section{
    color: #FF42A5;
    
}


